@import 'tailwindcss';

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .bg-size-200 {
    background-size: 200% 200%;
  }
  
  .bg-pos-0 {
    background-position: 0% 50%;
  }
  
  .bg-pos-100 {
    background-position: 100% 50%;
  }
}
